.imgcontainer 
  {
    position: relative;
    display: inline-block;
  }
  
  .imgcontIMG 
  {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay-text 
  {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: #fff; 
    padding: 10px 20px; 
    font-size: 20px; 
    text-align: center;
    
  }

  .overlay-text h1 
  {
    font-size: 250%;
    -webkit-text-stroke-width: 1.2px; 
    -webkit-text-stroke-color: black;
  }

  .overlay-text h2 
  {
    font-size: 195%;
    -webkit-text-stroke-width: 1.2px; 
    -webkit-text-stroke-color: black;
  }

  .overlay-text h4 {
    font-size: 150%;
    -webkit-text-stroke-width: 0.5px; 
    -webkit-text-stroke-color: aqua;
  }
  /*CSS by Cuomo Salvatore*/
